@model BankIS.MVC_WebApp.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.HomeAddress.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.HomeAddress.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.HomeAddress.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.HomeAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.HomeAddress.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.HomeAddress.ZipCode)
        </dd>

    </dl>
    <div>
        <h4>Stav (suma) účtu: @Model.AccountSum()</h4>

    </div>
    <div>
        @foreach(var tx in Model.Transactions)
        {
            <p>@tx.Date.ToString() - @tx.Value.ToString()</p>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
